/* Sektioner med att-göra uppgifter. Flexad kolumn. */
.todo-section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 2rem auto;
    border: 3px solid #a2a2a2;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

/* Artiklar med uppgifts-titel och beskrivning. */
.todo-section article {
    padding: 1rem;
}

.todo-section article p {
    line-height: 1.6;
}

/* Status på uppgiften. */
.todo-section span {
    padding: 1rem;
}

/* Formulär för att ändra status och radera todo. */
.status-delete-form {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    line-height: 1.6;
    background-color: #c0c9ae;
}

/* Utseende på select-box och knapp. */
.status-delete-form select, button {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    margin-top: 5px;
}

/* Radera-knapp. */
.status-delete-form button {
    border: none;
    font-weight: bold;
    background-color: #f35e5e;
}