/* Sektioner med att-göra uppgifter. Flexad kolumn. */
section {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2rem auto;
    border: 3px solid rgb(162, 162, 162);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

/* Artiklar med uppgifts-titel och beskrivning. */
article {
    padding: 1rem;
}

article p {
    line-height: 1.6;
}

/* Status på uppgiften. */
span {
    padding: 1rem;
}

/* Avskiljarlinje. */
.line {
    border-bottom: 3px solid rgb(162, 162, 162);
    padding: 0.5rem;
}

/* Formulär för att ändra status och radera todo. */
form {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    line-height: 1.6;
}

/* Utseende på select-box och knapp. */
form select, button {
    height: 25px;
    width: 120px;
    border-radius: 5px;
}

/* Radera-knapp. */
button {
    border: none;
    background-color: rgb(243, 94, 94);
}