/* Normalisering. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bodyns bakgrundsfärg och font. */
html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    color: rgb(41, 41, 41);
}

/* Main-innehållet, minsta höjd 100vh för att footer ska ligga längst ner. */
main {
    min-height: 100vh;
}

/* Rubriker h2-h3 och brödtext (ej i sektioner). */
h2, h3 {
    text-align: left;
    margin-bottom: 1.5rem;
}

p:not(section p) {
    text-align: center;
    margin: 2rem auto;
}

/* Avskiljarlinje. */
.line {
    border-bottom: 3px solid #a2a2a2;
    padding: 1rem 0 0 0;
    max-width: 1000px;
    margin: 0 auto;
}